{% extends "students/base.html" %}

{% block body %}

    <h3 class="text-center m-4">Update Student</h3>
    {% if success %}
        <div class="alert alert-success" role="alert">
            The new student updated successfully.
            <a href="{% url 'index' %}" class="alert-link">Go to Home Page.</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header"><i class="fa-sharp fa-solid fa-pen-to-square fa-lg" style="color: #1f5131;"></i>Update Student Records</div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %} <!-- Cross Site Request Fogery -->
                            {{ form.as_p }}
                            <button class="btn btn-primary" type="submit">Update</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    {% endif %}

{% endblock %}